<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Copyright 2004 Sun Microsystems, Inc. All rights reserved. SUN
		PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
	-->
<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
	<service name="RailYatraService" 
		targetNamespace="http://www.railyatra.com/enquiry/service"
		typeNamespace="http://www.railyatra.com/enquiry/types" 
		packageName="com.railyatra.services.bindings">
		<interface name="com.railyatra.services.TrainEnquiry"
			servantName="com.railyatra.services.TrainEnquiryImpl" />
	</service>
</configuration>